.hero-unit{
  color: #E62F17;
  position: absolute;
  left: 10%;
  top: 47px;
  width: 87%;
  z-index: 20;
}
.container{
  padding: 0;
  width: 100%;
}
.navbar-default{
  background-color: #000;
}
.NNDrop{
  display: inline !important;
  color: #A3A3A3 !important;
  font-weight: bold;
}
.aaron{
  border-radius: 20px;
  width: 37px;
  height: 40px;
  margin-top: 6px;
}
.searchInput{
  display: inline !important;
  border-radius: 0;
  background-color: #34383C;
  border-bottom-color: #737373 !important;
  padding: 0;
  font-size: 20px;
  width: 100%;
  margin-left: 15%;
  border-left: none;
  border-top: none;
  border-right: none;
  color: #777777;
}
.searchIco{
  display: inline !important;
  top: -30px;
  left: 103%;
  font-size: 25px;
  line-height: none;
  color: #777;
}
.newNav{
  height: 54px;
  background-color: #34383C;
  z-index: 21;
  border: none;
}
.newE{
  font-size: 60px;
  padding-top: 14px;
  background-color: #000;
  border: none;
  padding-bottom: 20px;
}
.newH1{
  margin-left: 6.5%;
  margin-top: 4%;
  display: inline;
}
.first{
  height: 54px;
}
.newFoot{
  position: absolute;
  width: 90%;
}
.leftRed{
  background-color: #E62F17;
  width: 63px;
  height: 100.6%;
  margin-top: 0px;
  margin-left: 1px;
  position: fixed;
  left: 0px;
  top: 0px;
}
.newParent{
  height: 100%;
}
.eventsView{
  padding-top: 138px;
  padding-left: 15.6%;
  border-color: blue;
  position: relative;
}
.detailsPage{
  padding-top: 138px;
  padding-left: 15.6%;
  border-color: blue;
  position: relative;
}
.allPics{
  width: 30%;
  cursor: pointer;
}
.imageParents{
  position: relative;
  left: 2px;
  top: 0px;
  width: 30%;
  height: 25%;
}
.attributes{
  display: none;
  position: absolute;
  left: 0px;
  bottom: -90px;
  color: black;
  font-weight: bold;
  font-size: 0.9em;
  width: 70%;
  background-color: #E62F17;
  color: white;
  text-align: center;
  cursor: pointer;
}
.fixedHome{
  font-size: 28px;
  color: white;
  border: solid;
  border-color: white;
  width: 55px !important;
  border-radius: 1em;
  padding: 2px 2px 2px 2px;
  border-width: 10px;
  position: fixed;
  top: 60px;
  left: 5px;
  cursor: pointer;
  z-index: 10;
}

.fixedlist{
  font-size: 22px;
  color: white;
  width: 55px !important;
  position: fixed;
  top: 150px;
  left: 18px;
  cursor: pointer;
  z-index: 10;
}
.fixedPlus{
  font-size: 22px;
  color: white;
  width: 55px !important;
  position: fixed;
  top: 190px;
  left: 20px;
  cursor: pointer;
  z-index: 10;
}
.fixedUser{
  font-size: 22px;
  color: white;
  width: 55px !important;
  position: fixed;
  top: 227px;
  left: 20px;
  cursor: pointer;
  z-index: 10;
}
.fixedComment{
  font-size: 22px;
  color: white;
  width: 55px !important;
  position: fixed;
  top: 270px;
  left: 20px;
  cursor: pointer;
  z-index: 10;
}
.fixedAsterisk{
  font-size: 27px;
  color: white;
  width: 55px !important;
  position: fixed;
  top: 347px;
  left: 18px;
  cursor: pointer;
  z-index: 10;
}
.fixedSignal{
  font-size: 23px;
  color: white;
  width: 55px !important;
  position: fixed;
  top: 385px;
  left: 18px;
  cursor: pointer;
  z-index: 10;
}
.fixedCog{
  font-size: 23px;
  color: white;
  width: 55px !important;
  position: fixed;
  top: 425px;
  left: 18px;
  cursor: pointer;
  z-index: 10;
}
.fixedTop{
  padding-left: 10px;
  background-color: #000;
  position: fixed;
  right: 17px;
  height: 54px;
  z-index: 1000;
}
.lableTitles{
  font-size: 1.3em;
  width: 20%;
}
.lableAnswers{
  color: #737373;
}
.viewShiftingDropdownParent{
  z-index: 20;
  display: inline;
  position: absolute;
  right: 0px;
  top: 5%;
}
.viewShiftingDropdown{
  z-index: 20;
}
.alignCenter{
  margin-left: 15%;
}
.eventBoxes{
  position: relative;
  top: 0px;
  left: 0px;
}
.mainBox{
  cursor: pointer;
  border-color: black;
}
.row{
  margin-left: 0px;
  margin-right: 0px;
}
.col-md-12{
  padding: 0px;
}