<div class="row-fluid">
	<div class="newParent span10">
		<span class="span1 leftRed">
			<span class="glyphicon glyphicon-home fixedHome"></span>
			<span class="glyphicon glyphicon-list-alt fixedlist"></span>
			<span class="glyphicon glyphicon glyphicon-plus fixedPlus"></span>
			<span class="glyphicon glyphicon-user fixedUser"></span>
			<span class="glyphicon glyphicon-comment fixedComment"></span>
			<span class="glyphicon glyphicon-asterisk fixedAsterisk"></span>
			<span class="glyphicon glyphicon-signal fixedSignal"></span>
			<span class="glyphicon glyphicon-cog fixedCog"></span>
		</span>
		<div class="hero-unit">
			<h1 class="newH1">Upcoming Events</h1>
		</div>
		<div class="pics">
			<% _.each(Events, function(Event, i)  { %>
			  <span modelId = <%= i %> class="imageParents">
			  	<span modelId = <%= i %> class="attributes">
				  	<span><%=Event.get("tittle")%></span><br/>
				  	<span><%=Event.get("dateTime")%></span><br/>
				  	<span><%=Event.get("venue")%></span><br/>
				</span>
			  	<img modelId = <%= i %> class="allPics" src = <%= Event.get("image") %> />
			  </span>
			  <% if( (i != 0)&&(i%3 == 2) ){ %>
			  		<br/>
			  <% } %>
		    <% }); %>
		</div>

	</div>
</div>
