<div class="row-fluid">
	<div class="newParent span10">
		<span class="span1 leftRed">
			<span class="glyphicon glyphicon-home fixedHome"></span>
			<span class="glyphicon glyphicon-list-alt fixedlist"></span>
			<span class="glyphicon glyphicon glyphicon-plus fixedPlus"></span>
			<span class="glyphicon glyphicon-user fixedUser"></span>
			<span class="glyphicon glyphicon-comment fixedComment"></span>
			<span class="glyphicon glyphicon-asterisk fixedAsterisk"></span>
			<span class="glyphicon glyphicon-signal fixedSignal"></span>
			<span class="glyphicon glyphicon-cog fixedCog"></span>
		</span>
		<span id="details">
			<div class="hero-unit">
				<h1 class="newH1">Upcoming Events</h1>
			</div>
			<div class="eventsView">
				
			</div>
		</span>
	</div>
</div>
