<div class="row-fluid">
	<div class="newParent span10">
		<span class="span1 leftRed">
			<span class="glyphicon glyphicon-home fixedHome"></span>
			<span class="glyphicon glyphicon-list-alt fixedlist"></span>
			<span class="glyphicon glyphicon glyphicon-plus fixedPlus"></span>
			<span class="glyphicon glyphicon-user fixedUser"></span>
			<span class="glyphicon glyphicon-comment fixedComment"></span>
			<span class="glyphicon glyphicon-asterisk fixedAsterisk"></span>
			<span class="glyphicon glyphicon-signal fixedSignal"></span>
			<span class="glyphicon glyphicon-cog fixedCog"></span>
		</span>
		<span id="details">
			<div class="hero-unit">
				<h1 class="newH1">Upcoming Events</h1>
			</div>
			<span class="viewShiftingDropdownParent pull-right">
				<span class="viewShiftingDropdown dropdown pull-right">
				  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
				    Sort Events 
				    <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
				    <li class="gridClass" role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="glyphicon glyphicon-th"></span><span class="alignCenter">Grid</span></a></li>
				    <li class="listClass" role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="glyphicon glyphicon-list-alt"></span><span class="alignCenter">List</span></a></li>
				  </ul>
				</span>
			</span>
			<div class="eventsView">
				
			</div>
		</span>
	</div>
</div>
